html {
    background: linear-gradient(45deg, rgb(84, 238, 203) 22%, rgb(163, 82, 182) 86%);
    height: 100%;
}




.button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 6px 6px 8px 0px rgba(34, 60, 80, 0.6);
    border-radius: 4px;
    border: 0px
}
.button:active {
    box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.2) inset;
    transition: 0.2s;
    box-shadow: 2px 2px 8px 0px rgba(34, 60, 80, 0.2);
    
}
.button:hover{
    color:rgb(232, 227, 253);
    background-color: rgb(22, 21, 21);
    transition: 0.2s;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.score, .pvp, .score_skill, .number_of_games, .victory {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.scoreone, .scoretwo, .scorethree, .scorefour, .scoreone_skill, .scoretwo_skill, .scorethree_skill, .scorefour_skill, .scoreone_games, .scoretwo_games, .scorethree_games, .scorefour_games {
    width: 100px;
    height: 50px;
    font-size: 40px;
    color: darkturquoise;
    text-align: center;
    border: 1px solid darkviolet;
    border-radius: 3px;
    margin: 5px;
    background-color: rgb(232, 227, 253);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.5);
}
.scoreone_skill, .scoretwo_skill, .scorethree_skill, .scorefour_skill {
    height: 15px;
    font-size: 10px;
    display: flex;
    padding: 1px 1px 1px 1px;
    /*border-radius: 10px;*/
}
.first-level, .second-level, .third-level {
    flex: 1 1 33.333%;
}
.first-level_one {
    background-color: rgb(238, 40, 122);
}
.player {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 120px;
    font-size: 50px;
    color: darkturquoise;
    text-align: center;
    border-radius: 4px;
    margin: 5px;
    background-color: rgb(232, 227, 253);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.6);
}
.top, .top2 {
    border-bottom: 1px solid darkviolet;
    padding-bottom: 5px;
}
.victory {
    height: 140px;
    display: none;
}
.victory_get {
    display: flex;
}
.victory_name {
    width: 400px;
    height: 50px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: rgb(1, 128, 179);
    border-radius: 20px;
    box-shadow: 1px 1px 14px 25px rgba(17, 204, 188, 0.29);
    font-family: Georgia, 'Times New Roman', Times, serif;
}